/* Color Pallet */
:root {
    --w: #F8E8EE;
    --white: white; 
    --b: black;
    --lb: lightblue;
}

/* ====== Implementing Light and Dark Mode ====== */
@media (prefers-color-scheme: light){
    :root{
        --text:black;
        --text-accent: #F8E8EE;
        --background: #FEECED;
        --background-accent: #e6e6e6;
        --primary: #F9808A;
        --secondary: #e32b47;
        --accent: #ec73c2;
        --footer:#090107;
        --box: white;
        --border: rgb(191,191,191);
        --bm: black;
    }
}

@media (prefers-color-scheme: dark){
    :root{
        --text:#FEECED ;
        --text-accent: #F8E8EE;
        --background: #090107;
        --background-accent: #040103;
        --primary: #F9808A;
        --secondary: #e32b47;
        --accent: #ec73c2;
        --footer: #31212d;
        --box: #090107;
        --border: #31212d;
        --bm: #31212d;   
    }
}


/* ##################### OVERALL PROPERTIES ##################### */
/* #region */
/* ==== BROWSER RESETS  ==== */
* { box-sizing: border-box; padding: 0; margin: 0 }
body, html { height: 100%;}
body { max-width: 100%; font-family: sans-serif }
img { width: 100%; height: auto; display: block }
html { scroll-behavior: smooth; scroll-padding-top: 72px}

/* Default font and colours */
/* body { font-family: 'Rubik', sans-serif } */
body { font-family: 'Garamond', serif; background-color: var(--background);}
h1, h2, h3 { color: #222; }
p, li { color: var()}
.bg-pastel-green { background-color: var(--background) }
.bg-pastel-grey { background-color: var(--background) }
/* #endregion */

/* ==== SCROLLBAR PROPERTIES  ==== */
/* #region */

/* Track */
::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color of the thumb */
}

/* Hover effect on the thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the thumb on hover */
}

/* For Firefox */
/* This might not work in all versions of Firefox */

/* Track */
body {
    scrollbar-width: none; /* Width of the scrollbar */
}

/* Thumb (the draggable part) */
body::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb */
    border-radius: 5px; /* Rounded corners for the thumb */
}

/* Hover effect on the thumb */
body::-webkit-scrollbar-thumb:hover {
    background-color: transparent; /* Color of the thumb on hover */
}
/* #endregion */

/* ##################### OVERALL MENU PROPERTIES  #########################*/
/* #region */

/* === PROPERTIES FOR BOTH MOBILE AND DESKTOP ====== */
    /*#region */
    .unhide-content-under-sticky-menu { margin-top: 72px }

    /* Positions all menus in front of page content */
    .container-menu-desktop, 
    .container-menu-bar-mobile, 
    .flyout-menu { z-index: 999 }
    .container-menu-desktop, .container-menu-bar-mobile { width:100% }

    /* on mobiles - hide desktop menu */
    @media all and (max-width:767px) { 
        .container-menu-desktop.menu-light { display: none }
    }

    /* on desktops - hide mobile menu bar and list of menu options */
    @media all and (min-width:768px) { 
        .container-menu-bar-mobile.menu-light,
        .flyout-menu.menu-light { display: none }
    }

    /* === Sticky Menu Option ====== */
    /*#region */
    .menu-sticky { position: fixed; top: 0; left: 0; right: 0; }

    /* prevents content from disappearing under sticky menus */
    .sticky-anchor {
        position: relative;
        border-top: 90px solid transparent;
        margin: -90px 0 0;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }
    
    .sticky-anchor:before {
        content: "";
        position: absolute;
        top: -2px;
        left: 0;
        right: 0;
    }
    /*#endregion */

    /* Height of desktop menu and mobile menu bar */
    .container-menu-desktop{ height:100px }

    .menu-drop-height{ height: 70px;}

    /* hide bullet character on listed links */
    .container-menu-desktop ul li,
    .flyout-menu            ul li { list-style-type: none }

    /* hide link underlines on desktop and mobile menus */
    .container-menu-desktop ul li a,
    .flyout-menu            ul li a { text-decoration: none }

    .menu-light { 
        /*background-color: rgba(0, 0, 0, 0.75);     /*Top Banner Color*/
        /* background-color: rgba(255, 255, 255, 0.75); */
        transition: all .5s ease-in-out;
        margin-top: 0;
    }

    /* menu links */
    .menu-light ul li a:hover,
    .menu-light ul li a:active {
        /* color: var(--text-color); */
        color: var(--lb);
        padding-bottom: 2%;
        border-bottom: 2px solid var(--lb);
        /* transition: .3s; */
        /* font-weight: bold; */
    }

    /* cta button */
    .menu-light ul li a.btn-cta:hover,
    .menu-light ul li a.btn-cta:active {
        border-color: var(--lb);
        background-color: var(--box);
        color: var(--lb);
        /* transition: .3s; */
    }


/*#endregion */

/* === The Rookers (Top Left Logo) ====== */
    /*#region */
/* website logo fixed size in desktop menu and mobile menu bar  */
.container-menu-desktop    h1:first-child a,
.container-menu-bar-mobile h1:first-child a { width: 200px; height: 40px;}

/* website logo vertically centered in desktop menu and mobile menu bar  */
.container-menu-desktop    h1:first-child,
.container-menu-bar-mobile h1:first-child { 
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  font-size: 50px;
  color: var(--text);
  font-weight: 500;
  font-family: 'Tangerine', serif;
  /* text-shadow: 1px 1px 1px black; */
}
/*#endregion */

/* ========= DESKTOP MENU PROPERTIES  ============ */
    /*#region */
    /* outer parent flexbox container 
    home page link (with website logo) at left and ul links at right are its two children */
    .container-menu-desktop {
        display: flex;
        justify-content: space-between;
        padding: 0 5% 0 5%;
        width: 100%;
        background-color: var(--background);
        border-bottom: 2px solid var(--bm);
    }

    /* menu links and cta button aligned horizontally */
    .container-menu-desktop ul li {
        display: inline-block;
        margin: 0 40px 0 0; /* spacing at right of menu links, cta button */
    }

    .container-menu-desktop ul li:last-child {
        margin-right: 0 /* no spacing at right of last menu link or cta button */
    }

    /* vertically center menu links and cta button */
    .container-menu-desktop ul { display: flex; align-items: center }

    /* style text for links and cta button  */
    .container-menu-desktop ul li a {
        font-size: calc(20px + (19 - 15) * ((100vw - 320px)/(1600 - 320)));
        /* font-weight:bold */
        color: var(--text);
        /* text-shadow: 1px 1px 1px var(--text); */
        /* text-transform: uppercase */
    }

    /* style cta button on desktop menus */
    .container-menu-desktop ul li a.btn-cta{
        display: inline-block;
        border: 2px solid;
        /* font-weight: bold; */
        color: var(--text);
        background-color: var(--box);
        /* text-shadow: 1px 2px 2px black; */
    }

    /* cta button padding */
    .container-menu-desktop ul li a.btn-cta { padding: 6px 20px }
    /*#endregion*/

/* ========== MOBILE MENU PROPERTIES  ========== */
    /*#region */
    .container-menu-bar-mobile{ height: 80px;}
    
    .container-menu-bar-mobile h1 { 
        display: flex; 
        flex-direction: row; 
        align-items: center; 
        padding-top: 5%;
        font-size: 40px;
        color: var(--text);
        font-weight: 500;
        font-family: 'Tangerine', serif;
        /* text-shadow: 1px 1px 1px black; */
    }

    /* style cta button on mobile menu */
    .flyout-menu ul li a.btn-cta {
        display: inline-block;
        border-width: 2px;  
        border-style: solid;
        font-weight: bold;
        color: var(--text);
        /* text-shadow: 1px 2px 2px rgb(255, 0, 0); */
    }

    /* style icon in cta button on desktop and mobile menus */
    .container-menu-desktop ul li a.btn-cta i{ margin-right: 8px; font-size: 90%;  }
    .flyout-menu ul li a.btn-cta i { margin-right: 8px; font-size: 50%;  }

    /* on mobiles, prevent scrolling outside flyout menu */
    .no-scroll { overflow: hidden }

    .menu-drop-shadow { box-shadow: 0 1px 10px #888 }

    /* outer flexbox container for mobile menu bar 
    home page link (with website logo) at left and hamburger icon at right are its two children */
    .container-menu-bar-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 6% 2% 6%;
        /* background-color:rgba(0, 0, 0, 0.97); */
        background-color:var(--background);
        border-bottom: 2px solid var(--border)
    }

    /* three bars hozizontal in hamburger icon */
    .container-menu-bar-mobile .item-icon .bar1, 
    .container-menu-bar-mobile .item-icon .bar2, 
    .container-menu-bar-mobile .item-icon .bar3 { width: 36px; height: 4px; margin: 7px 0; transition: 0.4s; border: 1px solid black }

    /* hamburger icon changes shape to 'X' when fly-out menu is visible */
    .change .bar1 { transform: rotate(-45deg) translate(-8px, 6px) }
    .change .bar2 { opacity: 0 }
    .change .bar3 { transform: rotate(45deg) translate(-8px, -8px) }

    /* container div for flyout menu content */
    .flyout-menu { 
        position: fixed; display: block; 
        /*top: 72px; /* same height as menu bar */
        width: 320px; 
        max-height: 100%;
        height: 100%;
        padding: 30px 40px 40px 40px;
        transition: 0.4s;
        overflow-x: hidden;
        overflow-y: scroll;
        overscroll-behavior: contain;
        -webkit-overflow-scrolling: touch; /* safari on mobiles */    
    }

    .flyout-menu.flyout-menu-is-closed {
        margin-top: 80px;
        top: 0;
        right: -320px; /* hides flyout menu */
        /* background-color: var(--background); */
    }

    .flyout-menu.flyout-menu-is-open {
        /* margin-top: 8%; */
        /* FIX */
        margin-top: 80px;
        background-color: var(--background);
        right: 0; /* displays flyout menu */
        overscroll-behavior: contain;
        overscroll-behavior-y: contain
    }

    /* drop shadow border at left of fly-out menu */
    .flyout-menu.flyout-menu-is-open {
        box-shadow: 0px 1px 10px var(--border); 
    }

    /* Menu List Home, Our Story... */
    /* list of links on flyout menu */
    .flyout-menu ul li { margin: 0 10px 20px 0 }

    /* style flyout menu links */
    .flyout-menu ul li a {
        font-size: 25px;
        color: var(--text);
        /* font-weight:bold; */
        /* text-transform: uppercase */
        /* text-shadow: 4px 4px 4px #aaa; */
    }

    /* cta button */
    .flyout-menu a.btn-cta {
        display: inline-block;
        padding: 10px 24px;
        background-color: var(--box);
    }

    .flyout-menu hr { 
        height: 4px;
        margin: 32px 0 0 0;
        border-style: solid;
        border-width: 1px 
    } 

    .flyout-menu h4 {
        font-size: 30px;
        margin: 42px 0 4px 0;
        text-align: center;
        /* letter-spacing: 2px; *./
        /* text-transform: uppercase */
    }

    .flyout-menu h5 {
        font-size: 17px;
        margin: 20px 0 20px 0;
        text-align: center
    }

    .flyout-menu h5 a {
        font-size: 20px;
        text-decoration: none;
        padding-bottom: 4px;
        border-bottom-style: solid;
        border-bottom-width: 2px
    }

    .flyout-menu p { 
        text-align: center; font-size: 20px; line-height: 1.4;
    }


    .flyout-menu.flyout-menu-is-open div.fly-out-profile-box,
    .flyout-menu.flyout-menu-is-open div.fly-out-social-icons {
        display:flex;
        flex-direction: row;
        justify-content: space-between;  
    }

    .flyout-menu.flyout-menu-is-open div.fly-out-profile-box p {
        text-align:center;
    }

    .flyout-menu.flyout-menu-is-open div.fly-out-social-icons { 
        margin-top:12px
    }

    .flyout-menu.flyout-menu-is-open div.fly-out-social-icons a {
        font-size: 25px;
        text-align: center 
    }

    /* on mobiles only */
    .flyout-menu.menu-light { background-color: var(--background) }
    .menu-light.flyout-menu hr { background-color:#461111(80,227,194); border-color: #461111(80,227,194) } 

    .menu-light.flyout-menu h4,
    .menu-light.flyout-menu h5,
    .menu-light.flyout-menu h5 a, 
    .menu-light.flyout-menu p { color: var(--text)} 

    /* colour of hamburger icon bars */
    .menu-light .item-icon .bar1, 
    .menu-light .item-icon .bar2, 
    .menu-light .item-icon .bar3 { background-color: var(--text);}	

    /* phone number link */
    a[href^=tel] { text-decoration: none; color: red }

    /* email link */
    .menu-light.flyout-menu h5 a:link, 
    .menu-light.flyout-menu h5 a:visited {
        border-bottom-color: #461111(80,227,194);
    }

    .menu-light.flyout-menu h5 a:hover, 
    .menu-light.flyout-menu h5 a:active {
        border-bottom-color: transparent;
    }

    /* profile image border colour */
    .menu-light.flyout-menu.flyout-menu-is-open div.fly-out-profile-box img { border-color: #461111(80,227,194) }

    /* contact icons */
    .menu-light.flyout-menu .fly-out-social-icons a i { color: var(--primary) }
/*#endregion */
/* #endregion */

/* ######################## HERO & HOME BLOCK  ################################# */
    .home-flexbox.container-home-block-one-columns,
    .hero-flexbox.container-hero-block-one-columns{ 
        background-repeat: no-repeat, repeat;
        background-size: cover;
        max-width: 100%;
    }

    .hero-flexbox.container-hero-block-one-columns .hero-item-1 h1,
    .home-flexbox.container-home-block-one-columns .hero-item-home h1 {
        font-family: 'Tangerine', sans-serif; 
        color: var(--text-accent);
        text-shadow: 1px 2px 2px black;
        font-weight: 500; 
        text-align: center;
    }

    /* ===================== DESKTOP HERO & HOME BLOCK  ========================== */
    @media all and (min-width: 768px) {
        .hero-flexbox.container-hero-block-one-columns,
        .home-flexbox.container-home-block-one-columns {margin-top: 100px;}

        .hero-flexbox.container-hero-block-one-columns {height: 25%;}
        .hero-flexbox.container-hero-block-one-columns .hero-item-1 h1 {font-size: calc(60px + (60 - 30) * ((100vw - 320px) / (1600 - 320))); }
    }
    
    /* ===================== HERO & HOME BLOCK ON MOBILE  ========================== */
    @media all and (max-width: 768px) {
        .hero-flexbox.container-hero-block-one-columns,
        .home-flexbox.container-home-block-one-columns { margin-top: 80px; }

        .hero-flexbox.container-hero-block-one-columns {height: 15%;}
        .hero-flexbox.container-hero-block-one-columns .hero-item-1 h1 {font-size: calc(50px + (40 - 30) * ((100vw - 320px) / (1600 - 320))); }
    }
    
/* ######################## HOME BLOCK  ################################# */
/* ONLY FOR THE HOME PAGE */
    @media all and (min-width: 768px) {
        .home-flexbox.container-home-block-one-columns { 
            background-color: var(--background);
            background-image: url(/assets/img/L1130302b.jpg);
            background-position: center center;
            height: 50%;
            border: 3px solid rgba(0, 0, 0, 0.75); 
        }    
    }
    /* .home-body-background{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='church-on-sunday' fill='%23f9808a' fill-opacity='0.4'%3E%3Cpath d='M77.17 0H80v2.83l-.1.1A39.9 39.9 0 0 1 74.64 20a39.9 39.9 0 0 1 5.24 17.06l.11.11v2.89c-.01 6.9-1.8 13.79-5.35 19.94A39.96 39.96 0 0 1 80 79.94V80h-2.83L66.84 69.66a39.83 39.83 0 0 1-24.1 10.25l.09.09h-5.66l.1-.1c-8.7-.58-17.22-4-24.1-10.23L2.82 80H0V79.94c.01-6.9 1.8-13.8 5.35-19.94A39.96 39.96 0 0 1 0 40.06V37.17l.1-.1A39.9 39.9 0 0 1 5.36 20 39.9 39.9 0 0 1 .1 2.94L0 2.83V0h2.83l-.1.1a39.83 39.83 0 0 1 24.1 10.24L37.18 0H40c0 6.92-1.78 13.83-5.35 20A39.96 39.96 0 0 1 40 40c0-6.92 1.78-13.83 5.35-20A39.96 39.96 0 0 1 40 0h2.83l10.33 10.34A39.83 39.83 0 0 1 77.26.09L77.17 0zm.77 77.94c-.3-5.52-1.8-11-4.49-16a40.18 40.18 0 0 1-5.17 6.34l9.66 9.66zm-12.52-9.7l-6.83-6.83-5.46 5.46-1.41 1.41-9.66 9.66c8.4-.45 16.69-3.68 23.36-9.7zm-23.07 6.58l7.99-7.98a40.05 40.05 0 0 1-3.79-4.9 37.88 37.88 0 0 0-4.2 12.88zM47.68 60a37.98 37.98 0 0 0 4.07 5.42L57.17 60l-5.42-5.42A38 38 0 0 0 47.68 60zm2.66-6.84a40.06 40.06 0 0 0-3.79 4.9 37.88 37.88 0 0 1-4.2-12.88l7.99 7.98zm1.38-1.44l1.41 1.41 5.46 5.46 6.83-6.84a37.85 37.85 0 0 0-23.36-9.7l9.66 9.67zM60 60l6.87 6.87A38.1 38.1 0 0 0 72.32 60a38.11 38.11 0 0 0-5.45-6.87L60 60zm-14.65 0a39.9 39.9 0 0 0-5.24 17.06l-.11.11-.1-.1A39.9 39.9 0 0 0 34.64 60a39.9 39.9 0 0 0 5.24-17.06l.11-.11.1.1A39.9 39.9 0 0 0 45.36 60zm9.23-48.25a37.85 37.85 0 0 1 23.36-9.7l-9.66 9.67-1.41 1.41-5.46 5.46-6.83-6.84zm13.67 13.67L62.83 20l5.42-5.42A38 38 0 0 1 72.32 20a37.98 37.98 0 0 1-4.07 5.42zm5.2-3.47a40.05 40.05 0 0 1-3.79 4.89l7.99 7.98c-.61-4.45-2.01-8.82-4.2-12.87zm-6.58 4.92l1.41 1.41 9.66 9.66a37.85 37.85 0 0 1-23.36-9.7l6.83-6.83 5.46 5.46zM53.13 13.13L60 20l-6.87 6.87A38.11 38.11 0 0 1 47.68 20a38.1 38.1 0 0 1 5.45-6.87zm-1.41-1.41l-9.66-9.66c.3 5.52 1.8 11 4.49 16a40.18 40.18 0 0 1 5.17-6.34zm-9.66 26.22c.3-5.52 1.8-11 4.49-16a40.18 40.18 0 0 0 5.17 6.34l-9.66 9.66zm26.22 13.78l9.66-9.66c-.3 5.52-1.8 11-4.49 16a40.18 40.18 0 0 0-5.17-6.34zm8.98-11.81L66.84 50.34a39.83 39.83 0 0 0-24.1-10.25l10.42-10.43a39.83 39.83 0 0 0 24.1 10.25zm-7.6-26.75a40.06 40.06 0 0 1 3.79 4.9 37.88 37.88 0 0 0 4.2-12.88l-7.99 7.98zm-31.72 28.9c-8.4.45-16.69 3.68-23.36 9.7l6.83 6.83 5.46-5.46 1.41-1.41 9.66-9.66zM22.83 60l5.42 5.42c1.54-1.7 2.9-3.52 4.07-5.42a38 38 0 0 0-4.07-5.42L22.83 60zm5.45 8.28l-1.41-1.41-5.46-5.46-6.83 6.84a37.85 37.85 0 0 0 23.36 9.7l-9.66-9.67zm9.37 6.54l-7.99-7.98a40.05 40.05 0 0 0 3.79-4.9 37.88 37.88 0 0 1 4.2 12.88zM20 60l-6.87-6.87A38.11 38.11 0 0 0 7.68 60a38.11 38.11 0 0 0 5.45 6.87L20 60zm17.26-19.9L26.84 29.65a39.83 39.83 0 0 1-24.1 10.25l10.42 10.43a39.83 39.83 0 0 1 24.1-10.25zm-35.2 1.96l9.66 9.66a40.18 40.18 0 0 0-5.17 6.33c-2.7-5-4.2-10.47-4.5-16zm4.49 19.89c-2.7 5-4.2 10.47-4.5 16l9.67-9.67a40.18 40.18 0 0 1-5.17-6.33zm31.1-16.77c-.61 4.45-2.01 8.82-4.2 12.87a40.06 40.06 0 0 0-3.79-4.89l7.99-7.98zm-4.2-23.23c2.7 5 4.2 10.47 4.5 16l-9.67-9.67c1.97-1.97 3.7-4.1 5.17-6.33zm-14.86-.54l6.83 6.84a37.85 37.85 0 0 1-23.36 9.7l9.66-9.67 1.41-1.41 5.46-5.46zm-8.25 5.43l-7.99 7.98c.61-4.45 2.01-8.82 4.2-12.87a40.04 40.04 0 0 0 3.79 4.89zm1.41-1.42A37.99 37.99 0 0 1 7.68 20a38 38 0 0 1 4.07-5.42L17.17 20l-5.42 5.42zm-5.2-7.37a40.04 40.04 0 0 1 3.79-4.89L2.35 5.18c.61 4.45 2.01 8.82 4.2 12.87zm6.58-4.92l-1.41-1.41-9.66-9.66a37.85 37.85 0 0 1 23.36 9.7l-6.83 6.83-5.46-5.46zm13.74 13.74L20 20l6.87-6.87A38.1 38.1 0 0 1 32.32 20a38.1 38.1 0 0 1-5.45 6.87zm6.58-8.82a40.18 40.18 0 0 0-5.17-6.33l9.66-9.66c-.3 5.52-1.8 11-4.49 16z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");} */
    

/* ######################## HERO BLOCK  ################################# */
    /* ===================== OVERALL HERO BLOCK  ========================== */
    /*#region*/
    @media all and (max-width:767px){
        .hero-flexbox.container-hero-block-one-columns { 
            background-color: var(--background);
            background-image: url(/assets/img/L1130068.jpg);
            background-position: right 25%;
            height: 100%;
            border-bottom: 3px solid rgba(0, 0, 0, 0.25);  
        }
    }
    
        .hero-flexbox.container-hero-block-one-columns .hero-item-1 h1 { margin-top: 10% }

/* ============== FLEXBOX MULTI-COLUMN LAYOUTS ================== */

/* ============ PARENT FLEXBOX CONTAINERS ========== */
    /*#region */
    .hero-flexbox { 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
    }
/* ######################## STORY BLOCK  ################################3# */
    /* Note story-item-home is for home page. story-item-1 is global */

    /* Proper Spacing for Very Large Websites Story */
    @media all and (min-width:1500px) {.story-container { margin: 5% 50% 5% 50%; }}

    /* Mid Size screen */
    @media all and (min-width:800px) {.story-container { margin: 5% 15% 5% 15%; }}

    .story-overview{padding: 2% 0  2% 0; border-bottom: 2px solid var(--border);background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='church-on-sunday' fill='%23f9808a' fill-opacity='0.4'%3E%3Cpath d='M77.17 0H80v2.83l-.1.1A39.9 39.9 0 0 1 74.64 20a39.9 39.9 0 0 1 5.24 17.06l.11.11v2.89c-.01 6.9-1.8 13.79-5.35 19.94A39.96 39.96 0 0 1 80 79.94V80h-2.83L66.84 69.66a39.83 39.83 0 0 1-24.1 10.25l.09.09h-5.66l.1-.1c-8.7-.58-17.22-4-24.1-10.23L2.82 80H0V79.94c.01-6.9 1.8-13.8 5.35-19.94A39.96 39.96 0 0 1 0 40.06V37.17l.1-.1A39.9 39.9 0 0 1 5.36 20 39.9 39.9 0 0 1 .1 2.94L0 2.83V0h2.83l-.1.1a39.83 39.83 0 0 1 24.1 10.24L37.18 0H40c0 6.92-1.78 13.83-5.35 20A39.96 39.96 0 0 1 40 40c0-6.92 1.78-13.83 5.35-20A39.96 39.96 0 0 1 40 0h2.83l10.33 10.34A39.83 39.83 0 0 1 77.26.09L77.17 0zm.77 77.94c-.3-5.52-1.8-11-4.49-16a40.18 40.18 0 0 1-5.17 6.34l9.66 9.66zm-12.52-9.7l-6.83-6.83-5.46 5.46-1.41 1.41-9.66 9.66c8.4-.45 16.69-3.68 23.36-9.7zm-23.07 6.58l7.99-7.98a40.05 40.05 0 0 1-3.79-4.9 37.88 37.88 0 0 0-4.2 12.88zM47.68 60a37.98 37.98 0 0 0 4.07 5.42L57.17 60l-5.42-5.42A38 38 0 0 0 47.68 60zm2.66-6.84a40.06 40.06 0 0 0-3.79 4.9 37.88 37.88 0 0 1-4.2-12.88l7.99 7.98zm1.38-1.44l1.41 1.41 5.46 5.46 6.83-6.84a37.85 37.85 0 0 0-23.36-9.7l9.66 9.67zM60 60l6.87 6.87A38.1 38.1 0 0 0 72.32 60a38.11 38.11 0 0 0-5.45-6.87L60 60zm-14.65 0a39.9 39.9 0 0 0-5.24 17.06l-.11.11-.1-.1A39.9 39.9 0 0 0 34.64 60a39.9 39.9 0 0 0 5.24-17.06l.11-.11.1.1A39.9 39.9 0 0 0 45.36 60zm9.23-48.25a37.85 37.85 0 0 1 23.36-9.7l-9.66 9.67-1.41 1.41-5.46 5.46-6.83-6.84zm13.67 13.67L62.83 20l5.42-5.42A38 38 0 0 1 72.32 20a37.98 37.98 0 0 1-4.07 5.42zm5.2-3.47a40.05 40.05 0 0 1-3.79 4.89l7.99 7.98c-.61-4.45-2.01-8.82-4.2-12.87zm-6.58 4.92l1.41 1.41 9.66 9.66a37.85 37.85 0 0 1-23.36-9.7l6.83-6.83 5.46 5.46zM53.13 13.13L60 20l-6.87 6.87A38.11 38.11 0 0 1 47.68 20a38.1 38.1 0 0 1 5.45-6.87zm-1.41-1.41l-9.66-9.66c.3 5.52 1.8 11 4.49 16a40.18 40.18 0 0 1 5.17-6.34zm-9.66 26.22c.3-5.52 1.8-11 4.49-16a40.18 40.18 0 0 0 5.17 6.34l-9.66 9.66zm26.22 13.78l9.66-9.66c-.3 5.52-1.8 11-4.49 16a40.18 40.18 0 0 0-5.17-6.34zm8.98-11.81L66.84 50.34a39.83 39.83 0 0 0-24.1-10.25l10.42-10.43a39.83 39.83 0 0 0 24.1 10.25zm-7.6-26.75a40.06 40.06 0 0 1 3.79 4.9 37.88 37.88 0 0 0 4.2-12.88l-7.99 7.98zm-31.72 28.9c-8.4.45-16.69 3.68-23.36 9.7l6.83 6.83 5.46-5.46 1.41-1.41 9.66-9.66zM22.83 60l5.42 5.42c1.54-1.7 2.9-3.52 4.07-5.42a38 38 0 0 0-4.07-5.42L22.83 60zm5.45 8.28l-1.41-1.41-5.46-5.46-6.83 6.84a37.85 37.85 0 0 0 23.36 9.7l-9.66-9.67zm9.37 6.54l-7.99-7.98a40.05 40.05 0 0 0 3.79-4.9 37.88 37.88 0 0 1 4.2 12.88zM20 60l-6.87-6.87A38.11 38.11 0 0 0 7.68 60a38.11 38.11 0 0 0 5.45 6.87L20 60zm17.26-19.9L26.84 29.65a39.83 39.83 0 0 1-24.1 10.25l10.42 10.43a39.83 39.83 0 0 1 24.1-10.25zm-35.2 1.96l9.66 9.66a40.18 40.18 0 0 0-5.17 6.33c-2.7-5-4.2-10.47-4.5-16zm4.49 19.89c-2.7 5-4.2 10.47-4.5 16l9.67-9.67a40.18 40.18 0 0 1-5.17-6.33zm31.1-16.77c-.61 4.45-2.01 8.82-4.2 12.87a40.06 40.06 0 0 0-3.79-4.89l7.99-7.98zm-4.2-23.23c2.7 5 4.2 10.47 4.5 16l-9.67-9.67c1.97-1.97 3.7-4.1 5.17-6.33zm-14.86-.54l6.83 6.84a37.85 37.85 0 0 1-23.36 9.7l9.66-9.67 1.41-1.41 5.46-5.46zm-8.25 5.43l-7.99 7.98c.61-4.45 2.01-8.82 4.2-12.87a40.04 40.04 0 0 0 3.79 4.89zm1.41-1.42A37.99 37.99 0 0 1 7.68 20a38 38 0 0 1 4.07-5.42L17.17 20l-5.42 5.42zm-5.2-7.37a40.04 40.04 0 0 1 3.79-4.89L2.35 5.18c.61 4.45 2.01 8.82 4.2 12.87zm6.58-4.92l-1.41-1.41-9.66-9.66a37.85 37.85 0 0 1 23.36 9.7l-6.83 6.83-5.46-5.46zm13.74 13.74L20 20l6.87-6.87A38.1 38.1 0 0 1 32.32 20a38.1 38.1 0 0 1-5.45 6.87zm6.58-8.82a40.18 40.18 0 0 0-5.17-6.33l9.66-9.66c-.3 5.52-1.8 11-4.49 16z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");}
    
    .story-container{
        display: flex;
        justify-content: center; 
        align-content: center;
        flex-direction: column;
        /* background-color: var(--background); */
        background-color: var(--box);
        border: 2px solid var(--border);
        flex-grow: 0;
        /* padding: 2% 8% 2% 8%; */
        /* border-block-color: var(--b); */
    }

    .story-item-home{
        margin: 10% 0 5% 0;
    }

    .story-container .story-item-1{padding: 2% 8% 2% 8%; }

    .story-container h1{
        color: var(--primary); 
        text-align: center;
        text-shadow: 1px 1px 1px black;
    }

    .story-container .story-item-1 h1{margin-top: 2%; font-size: calc(30px + (30 - 10) * ((100vw - 320px) / (1600 - 320))); }
    .story-container .story-item-home h1{font-size: calc(30px + (30 - 10) * ((100vw - 320px) / (1600 - 320))); }

    .story-container h2{
        color: var(--text); 
        font-weight: bold; 
        text-align: center;  
    }

    .story-container .story-item-1 h2{font-size: calc(15px + (15 - 10) * ((100vw - 320px) / (1600 - 320))); }
    .story-container .story-item-home h2{font-size: calc(20px + (20 - 10) * ((100vw - 320px) / (1600 - 320))); }

    .story-container .story-item-1 p,
    .story-container .story-item-1 h3,
    .story-container .story-item-home h3, 
    .story-container .story-item-home a.btn-cta, 
    .story-container .story-item-home p#demo{
        color: var(--text);
        /* padding:3% 0 3% 0;  */
        font-size: calc(15px + (15 - 10) * ((100vw - 320px) / (1600 - 320))); 
    }

    .story-container .story-item-1 p,
    .story-container .story-item-1 h3{padding:3% 0 3% 0; }

    .story-container .story-item-home h3,
    p#demo{ text-align: center; }

    /* Calling the countdown clock */
    p#demo{
        margin: 2%;
        padding: 0;
    }

    /* Nesting a FlexBox */
    .story-item-home-2,
    .story-item-home a.btn-cta{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .story-item-home a.btn-cta{ text-decoration-line: none;}

    .story-container .story-item-home a.btn-cta:hover{ 
        color: var(--secondary);
        transition: .3s;
    }

    .story-container .story-item-home-2 a.btn-cta{
        border: 2px solid var(--b);
        /* font-weight: bold; */
        color: var(--text);
        background-color: var(--primary);
        /* text-shadow: 1px 2px 2px black; */
        width: 30%;
        padding: 1%;
        margin-bottom: 10%;
        text-align: center;
        border-radius: 5px;
    }


    .story-container .story-item-home-2 a.btn-cta:hover{
        /* color: var(--lb); */
        /* border: 2px solid var(--lb); */
        background-color: var(--secondary);
        transition: .3s;
    }
    

    /* ===================== STORY BLOCK ON MOBILE  ========================== */
    /*#region*/
    @media all and (max-width: 767px) {
        .story-container { margin: 5% 10% 3% 10%; }
        .story-container .story-item-1 p{ text-align: center;}
    }

/* ######################## CONTENT BLOCK  ################################3# */
    /* Proper Spacing for Very Large Websites Story */
    @media all and (min-width:1500px) {.body-container { margin: 5% 50% 5% 50%; }}

    /* Mid Size screen */
    @media all and (min-width:800px) {.body-container { margin: 5% 15% 5% 15%; }}

    .body-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: space-around;
        flex-wrap: wrap;
        /* align-items: flex-end; */
        /* border: 2px solid #fffefe; */
        /* background-color:rgba(0, 0, 0, 0.97);   Bottom Color */
        background-color:var(--background);
        padding: 5%;
        /* height: 100%;  */
    }

    .body-container .body-item-1,
    .body-container .body-item-3 {
        /* background-color: red; */
        width: 40%;
        height: 40%;
        flex-basis: auto;
        flex-grow: 1;
    }
    
    .body-container .body-item-1 h1,
    .body-container .body-item-3 h1{
        /* color: green; */
        text-align: left;
        font-size: calc(30px + (30 - 15) * ((100vw - 320px) / (1600 - 320))); 
        text-shadow: 1px 1px 1px black;
    }

    .body-container .body-item-1 h1{ color: var(--primary); }
    .body-container .body-item-3 h1{ color: var(--lb); }

    .body-container .body-item-1 h2,
    .body-container .body-item-3 h2{
        padding-top: 2%;
        /* padding-left: 5%; */
        color: var(--text);
        text-align: left; 
        font-size: calc(15px + (15 - 10) * ((100vw - 320px) / (1600 - 320))); 
    }

    .body-container .body-item-1 p,
    .body-container .body-item-3 p{
        padding: 2% 12% 2% 0%; 
        color: var(--text);
        margin-bottom: 20%;
        /* flex-shrink: 3; */
        font-size: calc(15px + (15 - 10) * ((100vw - 320px) / (1600 - 320))); 
    }

    .body-item-2, .body-item-4 {
        /* background-color: blue; */
        margin-bottom: 5%;
        flex-grow: 1;
    }

    .body-container .body-item-2 img,
    .body-container .body-item-4 img {
        display: block;
        /* margin: auto; */
        margin-left: auto;
        max-width: 50%;
        height: auto;
        /* border-radius: 2%; */
        border: 3px solid var(--border);
        /* opacity: 75%; */
    }

    /* ===================== CONTENT BLOCK ON MOBILE  ========================== */
    /*#region*/
    @media all and (max-width: 1315px) {
        .body-container .body-item-1 h1, .body-container .body-item-3 h1 { text-align: center; margin-top: 5%; padding: 0;}
        .body-container .body-item-1 h2, .body-container .body-item-3 h2{ text-align: center; margin-top: 1%; padding: 0;}
        .body-container .body-item-1 p, .body-container .body-item-3 p{ text-align: center; margin: 4% 5% 5% 5%; padding: 0;}
        .body-container .body-item-2 img, .body-container .body-item-4 img{margin: auto;}
        /* .body-container .body-item-4 img{ margin-bottom: 5%;} */
        
        /* Ordering containers for Mobile */
        .body-container .body-item-2 { margin-top: 5%;}
        .body-container .body-item-4 { margin-top: 5%;}
        .body-container .body-item-1 p{ margin-bottom: 10%;}
        .body-container .body-item-3 p{ margin-bottom: 15%;}
        .body-container .body-item-1 { order: 1;}
        .body-container .body-item-2 { order: 0;}
        .body-container .body-item-3 { order: 2;}
        .body-container .body-item-4 { order: 1;}
        
    }

/* ######################## GALLERY BLOCK  ################################3# */
    .gallery-overview{
        background-color:var(--background);
    }

    .gallery-container .gallery-item-1 h1{
        display: flex;
        color: var(--primary);
        justify-content: center;
        margin: 3% 0 0% 0; 
        font-size: calc(30px + (30 - 10) * ((100vw - 320px) / (1600 - 320)));
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: var(--background);
        padding: 4%;
        gap: 2% 1%;
    }

    .grid-item {
        background-color: var(--footer);
        border: 2px solid rgba(0, 0, 0, 0.8);
        padding: 10%;
        font-size: calc(20px + (20 - 10) * ((100vw - 320px) / (1600 - 320))); 
        text-align: center;
    }

    .grid-item:hover{ background-color:var(--secondary);}

/* ################ FOOTER CSS (SAME FOR BOTH MOBILE AND DESKTOP ################ */
    /*#region */
    /* Outer footer parent container */
    .container-footer { 
        background-color: var(--footer); 
        border-top: 3px solid var(--border); 
    }

    /* FLEXBOX FOR FOOTER */
    .container-footer .flex-item-1,
    .container-footer .flex-item-2,
    .container-footer .flex-item-3 { 
        padding: 1% 2% 0% 0%;
        flex: 1;
        /* border: 1px solid #fffefe; */
    }
     /* Desktop footer */
    @media all and (min-width:768px) {
        .container-footer { 
            display: flex;
            align-items: stretch;
            flex-wrap: wrap; 
        }
        
        .container-footer .flex-item-1 { 
            text-align: left;
        }
    
        .container-footer .flex-item-2 { 
            flex: 1 1 0; /* Each flex item will have an equal share of the available space */
            text-align: center;
        }
    
        .container-footer .flex-item-3 { 
            text-align: right;
        }
    }

     /* Mobile footer -  */
    @media all and (max-width:767px) {
        .container-footer { 
            display:center; 
            flex-direction: column;
            justify-content: center;
        }
        .container-footer .flex-item-1,
        .container-footer .flex-item-2,
        .container-footer .flex-item-3{ text-align: center;}
        /* .container-footer .flex-item-1{order: 0;}
        .container-footer .flex-item-2{order: 0;}
        .container-footer .flex-item-3{order: 0;} */
    }
    
    /* Desktop footer - inside padding  */
    @media all and (min-width:768px) {
        .container-footer { padding: 1% 1% 1% 1% }
    }

    /* Mobiles footer - inside padding */
    @media all and (max-width:767px) {
        .container-footer { padding: 2% 2% 2% 2% }
    }

    /* Styles for footer background, text, icons and links */
    .container-footer .flex-item-1 h4,
    .container-footer .flex-item-1 h5,
    .container-footer .flex-item-2 h6,
    .container-footer .flex-item-3 ul li,
    .container-footer .flex-item-3 ul li a,
    .container-footer .flex-item-3 p,
    .container-footer .flex-item-3 p a {
    color: #fff
    }


    /* Footer headings */
    .container-footer .flex-item-1 h4 {
    font-family: serif;
    font-weight: normal;
    font-style: italic;
    font-size: calc(15px + (25 - 15) * ((100vw - 320px)/(1600 - 320)));
    margin: 0 auto 10px 0;
    }

    .container-footer .flex-item-1 h5 {
        font-family: sans-serif;
        font-weight: normal;
        font-style:  italic;
        color: var(--lb);
        margin: 0 auto 20px auto;
        font-size: calc(12px + (14 - 12) * ((100vw - 320px)/(1600 - 320)));
    }

    .container-footer .flex-item-2 h6 {
        font-family: 'Tangerine', serif;
        font-weight: normal;
        font-size: calc(25px + (40 - 25) * ((100vw - 320px)/(1600 - 320)));
        margin: 0 auto 10px 0;
        text-shadow: 1px 1px 1px black;

    }

    /* Footer text links and icon links */
    .container-footer .flex-item-2 ul.footer-links,
    .container-footer .flex-item-2 ul.footer-icons {
        list-style-type: none;
    }

    .container-footer .flex-item-2  ul.footer-links {
        margin: 0 auto 18px auto;
    }

    .container-footer .flex-item-2 ul.footer-icons {
        margin: 0 auto 18px auto;
    }

    .container-footer .flex-item-3 ul.footer-links li,
    .container-footer .flex-item-3 ul.footer-icons li {
        display: inline-block;
        margin: 0 32px 0 0;
    }

    .container-footer .flex-item-3 ul.footer-links li:last-child,
    .container-footer .flex-item-3 ul.footer-icons li:last-child {
        margin-right: 0;
    }

    /* Footer text links */
    /* .container-footer .flex-item-3 ul.footer-links li a {
        text-decoration: none;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        padding-bottom:2px;    
        font-size: calc(17px + (20 - 17) * ((100vw - 320px)/(1600 - 320)));
    } */

    .container-footer .flex-item-3 ul.footer-links li a:link, 
    .container-footer .flex-item-3 ul.footer-links li a:visited  {
    border-bottom-color: transparent;
    }

    .container-footer .flex-item-3 ul.footer-links li a:hover, 
    .container-footer .flex-item-3 ul.footer-links li a:active  {
    border-bottom-color: var(--lb);
    }

    /* Footer icons */

    .container-footer .flex-item-3 ul.footer-icons li a i {
        text-decoration: none;
        padding-bottom:5px;   
        font-size: calc(15px + (25 - 15) * ((100vw - 320px)/(1600 - 320)));
    }

    .container-footer .flex-item-3 ul.footer-icons li a:hover, 
    .container-footer .flex-item-3 ul.footer-icons li a:active  {
    color: var(--lb);
    }

    /* Privacy and legal link */
    .container-footer .flex-item-3 p a {
        text-decoration: none;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        padding-bottom:2px;    
        font-size: calc(15px + (25 - 15) * ((100vw - 320px)/(1600 - 320)));
    }

    .container-footer .flex-item-3 p a:link, 
    .container-footer .flex-item-3 p a:visited  {
    border-bottom-color: transparent;
    }

    .container-footer .flex-item-3 p a:hover, 
    .container-footer .flex-item-3 p a:active  {
    border-bottom-color: var(--lb)
    }

    a.privacy-legal {
        font-family: sans-serif;    
        display: inline-block;
        color:#fff;
        text-decoration: none;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        padding-bottom:2px;   
        font-size: calc(15px + (17 - 15) * ((100vw - 320px)/(1600 - 320)));
    }

    a.privacy-legal:link,
    a.privacy-legal:visited {
        border-bottom-color: transparent;
    }

    a.privacy-legal:active,
    a.privacy-legal:hover {
        border-bottom-color: var(--lb)
    }
    /* == End footer CSS == */
    /*#endregion */

    /* ############### RSVP PAGE ############## */
    /* Desktop RSVP  */
    @media all and (min-width:768px) {
        .container-contact-form {
            background-color: var(--box);
            margin: 4% 20% 4% 20% ;
            border: 4px solid var(--border);
        }
    }
            
    /* Mobiles footer - inside padding */
    @media all and (max-width:767px) {
        .container-contact-form {
            background-color: var(--box);
            margin: 5% 15% 5% 15%;
            border: 4px solid var(--border);
        }
    }

     .container-contact-form label,
     .container-contact-form input,
     .container-contact-form select,
     .container-contact-form textarea{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    label {
        /* font-weight: bold;  */
        padding: 2%;
        color: var(--text);
        font-size: calc(20px + (20 - 10) * ((100vw - 320px) / (1600 - 320))); 
    }


    /* Editing the Form */
    input[type="text"], select {
        width: 50%; /* Make fields expand to full width */
        padding: 1.2%; 
        font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1600 - 320)));
        /* border: 1px solid #ccc;  */
        /* border-radius: 5px;  */
        margin: auto auto; 
        background-color: var(--w);
        border: 1px solid var(--b);
        font-family: 'Garamond', serif;
        /* color: rgb(124, 124, 124); */
    }

    input[type="text"]:hover, select:hover,
    input[type="text"]:active, select:active{
        /* border: 2px solid var(--b); */
        opacity: 70%;
    }

    /* Style the submit button */
    input[type="submit"] {
        background-color: var(--primary);
        color: var(--text);
        padding: 2%;
        border: 2px solid var(--border);
        cursor: pointer;
        font-weight: bold;
        margin: 2% auto 5% auto; 
        width: 50%;
        height: 10%;
        border: 2px solid var(--text);
        font-family: 'Tangerine', serif;
        font-weight: 1000;
        font-size: calc(20px + (20 - 10) * ((100vw - 320px) / (1600 - 320))); 
        border-radius: 10px;
        
    }
    input[type="submit"]:hover {
        background-color: var(--secondary);
        transition: .5s;
    }

    .container-contact-form .contract-item-1 h1{
        display: flex;
        justify-content: center;
        padding: 5%;
    }

    .container-contact-form .contract-item-2,
    .container-contact-form .contract-item-3,
    .container-contact-form .contract-item-3{
        padding: 2% 0% 1% 0%;  
    }

    .container-contact-form .contract-item-5{
        padding: 1% 0% 3% 0%;  
    }

    #fs-frm-inputs{
        border: none; 
    }

    textarea#message{
        background-color: var(--w);
        /* display: block; */
        margin: auto auto;
        resize: none;
        overflow-y: scroll;
        width: 50%;
        height: 100%;
        padding: 1.2%;
        font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1600 - 320)));
        font-family: 'Garamond', serif;
    }

    textarea#message:active,
    textarea#message:hover{
        opacity: 80%;
    }


